
*.txt
results/csv/WislaK120HS134.csv
results/csv/VillachK90HS98.csv
results/csv/VikersundK200HS240.csv
results/csv/SydneyK200HS220.csv
results/csv/StamsK105HS115.csv
results/csv/SocziK125HS140.csv
results/csv/SeefeldK68HS75.csv
results/csv/SchonachK90HS100.csv
results/csv/PlanicaK95HS102.csv
results/csv/PlanicaK125HS138.csv
results/csv/Nizhny TagilK120HS134.csv
results/csv/LillehammerK90HS98.csv
results/csv/LahtiK116HS130.csv
results/csv/Iron MountainK120HS133.csv
results/csv/HinzenbachK85HS90.csv
results/csv/HakubaK90HS100.csv
results/csv/ChaikovskyK125HS140.csv
results/csv/SochiK95HS106.csv
results/csv/LahtiK90HS100.csv
results/csv/KuopioK92HS100.csv
results/csv/K0HS0.csv
results/csv/HakubaK120HS131.csv
.vscode/tasks.json
.vscode/launch.json
